In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
df = pd.read_csv("Churn_Modelling.csv")

In [4]:
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [5]:
# preprocessing the dataset
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis=1)

In [6]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [7]:
# encode categorical variables
label_encoder_gender = LabelEncoder()
df["Gender"] = label_encoder_gender.fit_transform(df["Gender"])

In [8]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [ ]:
# one-hot encode the Geography column
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_geo = OneHotEncoder(sparse_output=False)
geo_encoded = one_hot_encoder_geo.fit_transform(df[["Geography"]])

In [ ]:
geo_encoded_df = pd.DataFrame(
    geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(["Geography"])
)

In [ ]:
# combine the encoded Geography columns with the original dataframe
df = pd.concat([df.drop("Geography", axis=1), geo_encoded_df], axis=1)

In [12]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [ ]:
# divide the dataset into features and target variable
X = df.drop("EstimatedSalary", axis=1)
y = df["EstimatedSalary"]

In [ ]:
# split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
# scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
# save the encoders to a pickle file
with open("label_encoder_gender_regression.pkl", "wb") as f:
    pickle.dump(label_encoder_gender, f)

with open("one_hot_encoder_geo_regression.pkl", "wb") as f:
    pickle.dump(one_hot_encoder_geo, f)
    
# save the scaler to a pickle file
with open("scaler_regression.pkl", "wb") as f:
    pickle.dump(scaler, f)

In [17]:
# ANN for regression problem 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [20]:
# build the ANN model
model = Sequential(
    [
        Dense(
            64, activation="relu", input_shape=(12,)
        ),  # Hidden layer 1 with 64 neurons
        Dense(32, activation="relu"),  # Hidden layer 2 with 32 neurons
        Dense(1),  # Output layer for regression
    ]
)

In [ ]:
adam_optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)

In [27]:
# compile the model
model.compile(
    optimizer="adam", loss="mean_absolute_error", metrics=["mae"]
)

In [28]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
import datetime
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

# setup the tensorboard
log_dir = "regression/logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [33]:
# setup early stopping
early_stopping_callback = EarlyStopping(
    monitor="val_loss", patience=10, restore_best_weights=True
)

In [34]:
# train the model
history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    batch_size=32,
    callbacks=[tensorboard_callback, early_stopping_callback],
)

Epoch 1/100
250/250 [==============================] - 2s 7ms/step - loss: 49665.2812 - mae: 49665.2812 - val_loss: 50354.3555 - val_mae: 50354.3555
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 49654.0273 - mae: 49654.0273 - val_loss: 50350.3906 - val_mae: 50350.3906
Epoch 3/100
250/250 [==============================] - 2s 6ms/step - loss: 49642.9102 - mae: 49642.9102 - val_loss: 50351.4258 - val_mae: 50351.4258
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 49629.4531 - mae: 49629.4531 - val_loss: 50344.3164 - val_mae: 50344.3164
Epoch 5/100
250/250 [==============================] - 2s 8ms/step - loss: 49617.6719 - mae: 49617.6719 - val_loss: 50340.6836 - val_mae: 50340.6836
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 49608.8633 - mae: 49608.8633 - val_loss: 50345.3203 - val_mae: 50345.3203
Epoch 7/100
250/250 [==============================] - 3s 11ms/step - loss: 49598.6289 - mae: 49598.6289 - val_loss: 50333.8242 - val_mae: 50333.8242
Epoch 8/100
250/250 [==============================] - 2s 8ms/step - loss: 49587.8594 - mae: 49587.8594 - val_loss: 50327.7266 - val_mae: 50327.7266
Epoch 9/100
250/250 [==============================] - 2s 7ms/step - loss: 49578.1523 - mae: 49578.1523 - val_loss: 50329.3516 - val_mae: 50329.3516
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 49570.1680 - mae: 49570.1680 - val_loss: 50327.4102 - val_mae: 50327.4102
Epoch 11/100
250/250 [==============================] - 1s 6ms/step - loss: 49561.0352 - mae: 49561.0352 - val_loss: 50319.8555 - val_mae: 50319.8555
Epoch 12/100
250/250 [==============================] - 2s 7ms/step - loss: 49549.4961 - mae: 49549.4961 - val_loss: 50329.5977 - val_mae: 50329.5977
Epoch 13/100
250/250 [==============================] - 1s 6ms/step - loss: 49541.8242 - mae: 49541.8242 - val_loss: 50312.3008 - val_mae: 50312.3008
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 49535.6680 - mae: 49535.6680 - val_loss: 50315.6484 - val_mae: 50315.6484
Epoch 15/100
250/250 [==============================] - 1s 6ms/step - loss: 49528.2773 - mae: 49528.2773 - val_loss: 50318.0156 - val_mae: 50318.0156
Epoch 16/100
250/250 [==============================] - 2s 6ms/step - loss: 49519.9023 - mae: 49519.9023 - val_loss: 50301.3594 - val_mae: 50301.3594
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 49515.3984 - mae: 49515.3984 - val_loss: 50306.2227 - val_mae: 50306.2227
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49503.0000 - mae: 49503.0000 - val_loss: 50306.4883 - val_mae: 50306.4883
Epoch 19/100
250/250 [==============================] - 1s 6ms/step - loss: 49497.7734 - mae: 49497.7734 - val_loss: 50313.3984 - val_mae: 50313.3984
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 49489.7969 - mae: 49489.7969 - val_loss: 50311.8594 - val_mae: 50311.8594
Epoch 21/100
250/250 [==============================] - 1s 6ms/step - loss: 49484.8086 - mae: 49484.8086 - val_loss: 50316.4453 - val_mae: 50316.4453
Epoch 22/100
250/250 [==============================] - 2s 8ms/step - loss: 49479.5586 - mae: 49479.5586 - val_loss: 50307.0312 - val_mae: 50307.0312
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49473.5469 - mae: 49473.5469 - val_loss: 50306.8867 - val_mae: 50306.8867
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49467.6445 - mae: 49467.6445 - val_loss: 50309.2344 - val_mae: 50309.2344
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49464.0391 - mae: 49464.0391 - val_loss: 50314.5938 - val_mae: 50314.5938
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49456.5508 - mae: 49456.5508 - val_loss: 50309.3672 - val_mae: 50309.3672

In [ ]:
# load tensorboard extension
%load_ext tensorboard

In [ ]:
%tensorboard --logdir regression/logs/fit